[package]
name = "domain"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
futures = { workspace = true }
bytes = { workspace = true }
serde_json = { workspace = true }
